.option * {
  margin: 0;
  padding: 0;
}

.option {
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}

.title__picked {
  display: flex;
  justify-content: flex-start;
}

.option__title {
  font-size: 16px;
  margin-right: 10px;
}

.option__title:first-letter {
  text-transform: uppercase;
}

.option__choices {
  text-align: left;
}
